body {
  font-family: Arial;
  color: rgb(92, 176, 228);
  text-align: center;
  margin-top: 100px;
}

input, select, button {
  padding: 10px;
  color: blueviolet;
  margin: 10px;
  border-radius: 20px; /* Curvy corners */
  border: 1px solid lightgray;
}

#result {
  margin-top: 50px;
  color: blueviolet;
  font-weight: bold;
  padding: 15px;
  display: inline-block;
  border-radius: 25px; /* Curvy result box */
}

