body {
  font-family: Arial;
  color: rgb(92, 176, 228);
  text-align: center;
  margin-top: 100px;
  background-color: #f4f4f4;
}

input, select, button {
  padding: 10px;
  color: blueviolet;
  margin: 10px;
}

#result {
  margin-top: 50px;
  color: blueviolet;
  font-weight: bold;
}
